<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cuenta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/cuentas/' + ${cuenta.id} + '/edit/save'}" th:object="${cuenta}" method="post">
    <div th:replace="CuentaForm :: CuentaForm(titulo='Editar Cuenta', cuenta=${cuenta})">
    </div>
    </form>
</body>
</html>
